body {
    padding-top: 7.5rem;
}
.btn-huge {
    padding: 3rem;
    font-size: 3rem;
}

.pokemon-card {
    width: 150px;
    margin-bottom: 15px;
    background-color: lightsteelblue;
}
.pokemon-card .card-img-top {
    padding: 25px 25px 0 25px;
}